[2017-08-23 00:49] tomschenkjr opened #1 "Determine Terms of Service for using the API"
Need to determine the terms of service for anyone using the API. It should include a list of activities that is not permitted and the consequence of doing it. This will likely include limitations of liability and indemnity, which is especially important for this project.

Need to loop-in legal to discuss.

A couple of examples of City of Chicago terms of service include the [Open311 API](http://de

[2017-08-23 00:52] tomschenkjr opened #2 "Eligibility criteria & process for new institutions"
Right now, there is stock language on the eligibility of health systems and a faux-link to a sign-up form. In reality, we need to determine what institutions are eligible, the actual sign-up process, and any supporting materials that the institutions are required to submit.

[2017-08-23 00:56] tomschenkjr opened #3 "Clarification on a few header items on POST"
There are a [few items in the header](https://github.com/Chicago/lead-safe-api-docs/blob/master/docs/index.md#header) from POSTing data that are not well defined. In particular,

  * Etag
  * Content-Length
  * Set-Cookie

[2017-08-23 01:00] tomschenkjr opened #4 "Should we post the full URL path?"
Right now, the API documentation uses a blank `<url>` slug. Should we post the full URL in the documentation?

**Pros**
  * Make it easier for users to follow and mimic the calls in the documentation
  * Makes sure we are all are on the same page for the server location (so we don't get confused with dev or QA).

**Cons**
  * Potential security vector by providing full URL path.

[2017-09-06 21:08] tomschenkjr opened #5 "Rename "alliance_id" field"
Since this API may not be exclusively used by Alliance, we should avoid Alliance-specific names. The `alliance_id` field is overly specific. I propose changing the field name to `id`.

Likewise, the description of the current `alliance_id` field is not very descriptive at all. Need to update it with the intended use to be much clearer.

[2017-09-06 23:01] tomschenkjr opened #6 "Prepare changes for v0.4.0"
We need to make some changes for v0.4.0 of the API.

  * Change `alliance_id` field #5
  * Check for consistency of timestamps and congruence between the specified data type and how it is currently being processed (see [lead-prediction-api#6](https://gitlab.cityofchicago.org/lead-paint-research/lead-prediction-api/issues/6).
  * Check for any other inconsistency

## Staging changes

Ahead of Frida

[2017-09-08 18:24] geneorama opened #7 "Eliminate `visit_date` from prediction?"
I don't think this belongs here.  The timestamp is sufficient to communicate the temporal aspect of the score.  We have no knowledge of when the visit is going to happen.  We're not even getting visit_date in the POST for the current visit (we do get past dates of visit, but even those are not considered "visit dates" per se).

I can't think of a reason that it belongs here, but I could be forgett

[2017-09-12 16:50] geneorama commented on #7
we are keeping this and updating the description to indicate that it is a "vintage date" for the model, and this date will be optional

[2017-09-12 16:50] #7 closed, assigned to nobody

[2017-09-12 19:27] geneorama commented on #7
Note this field is *not* going to be optional.

[2017-09-12 19:54] geneorama commented on #3
I looked up the ETag concept earlier and I think it's pretty interesting. It says it's a digest (MD5 for example) of the data. It's meant to replace the "time to live" field that can be in the header.

Years ago Rob Lancaster gave a great talk about using survival analysis at Orbitz to calculate the "time to live" for their data because price information can get out of date very quickly (e.g. the

[2017-09-15 23:42] #5 closed, assigned to geneorama

[2017-09-15 23:42] #6 closed, assigned to geneorama

[2017-09-15 23:52] tomschenkjr opened #9 "Reach out to Alliance to discuss v0.4.0"
Reach out to Alliance to discuss the changes for v0.4.0 of the API. Get any feedback and raise any issues with the proposed API. CC the project team members when communicating with Alliance so we're aware of the discussion.

[2017-09-18 15:28] geneorama commented on #9
@tomschenkjr should I use this link to share with them? https://chicago.github.io/lead-safe-api-docs/

[2017-09-18 15:29] tomschenkjr commented on #9
Yeah, I think that’s the easiest to digest.

From: Gene Leynes [mailto:notifications@github.com]
Sent: Monday, September 18, 2017 10:29 AM
To: Chicago/lead-safe-api-docs <lead-safe-api-docs@noreply.github.com>
Cc: Schenk, Tom <Tom.Schenk@cityofchicago.org>; Mention <mention@noreply.github.com>
Subject: Re: [Chicago/lead-safe-api-docs] Reach out to Alliance to discuss v0.4.0 (#9)

@tomschenkjr<http

[2017-09-18 15:50] potash opened #10 "Specify that predictions are for kids under 1"
This seems to have gone missing from our conversations and documentation but we (as @RaedMan probably remembers) were originally intending to use these predictions for kids under 1. This is both from the CDPH interventions side and also from the modeling side.

So let's add it back in, probably best to do that before we share with Alliance (#9). I will include more details in an issue on the runne

[2017-09-18 17:12] geneorama opened #11 "Add .io link to repository description"
@tomschenkjr I don't have permission to edit the project description

[2017-09-18 17:14] tomschenkjr commented on #11
Now it's added.

[2017-09-18 17:14] #11 closed, assigned to nobody

[2017-09-18 19:04] geneorama commented on #9
emailed a few hours ago.

[2017-09-18 19:04] #9 closed, assigned to geneorama

[2017-09-19 14:29] AOCjcarr opened #12 "Response file question"
Reviewing the response file, it appears the one missing element would be a "Error message"  Essentially this would be blank for most calc's however it would be good to have some level of a qualified response that has details for any reason why a calc returned with no information or there was an error calculating.
In similar projects we have found this is typically related to 1) a specific expected

[2017-09-19 15:22] tomschenkjr commented on #12
Thanks, this makes a lot of sense.

Also, for better transparency for our upcoming work, we've moved the roadmap for the API to [the wiki page](https://github.com/Chicago/lead-safe-api-docs/wiki). We have not worked on "robust error messages" yet, instead we've simply relying on default error messages being passed along so far.

This one seems to make sense to include in more robust error messages

[2017-09-21 15:04] geneorama opened #13 "Clearly tag all optional fields as optional"
It would be a lot easier to check for required fields if all the optional fields were clearly identified.

Two ideas:
 - We could prefix each optional field description with [OPTIONAL].
 - We could include a new column "Required" that is either TRUE or FALSE.

[2017-09-25 22:50] RaedMan commented on #2
Create Eligibility Intake Form (draft):

**1. Name of Health Network**
(see list below for drop-down menu options and consider other [FQHCs found on the portal](https://data.cityofchicago.org/Health-Human-Services/Public-Health-Services-Chicago-Primary-Care-Commun/cjg8-dbka/data))

**2. Clinical Point of Contact**
a. Name
b. Title
c. National Provider Identifier
d. Illinois Physician License (Shou

[2017-09-25 22:58] tomschenkjr commented on #2
Thanks, Raed. This looks like a good first draft. We may want a sentence or two of who the clinical point of contact should be and who the technical point of contact should be. DoIT can draft the latter if CDPH can draft the former.

@wesleycoates - you mentioned the [list on the portal](https://data.cityofchicago.org/Health-Human-Services/Public-Health-Services-Chicago-Primary-Care-Commun/cjg8-db

[2017-09-26 02:06] wesleycoates commented on #2
Nicely done Raed.  Yes Tom, that list is certainly out of date (2014), but somewhat actionable.  Raed, Sheri Cohen curated that list based on [something similar from HRSA.](https://findahealthcenter.hrsa.gov/index.html).  I am not familiar enough with the criteria to know what qualifies, but we can check around and see if we can get that updated.

[2017-09-26 21:14] RaedMan commented on #1
I'll work on integrating the [Open311 API](http://dev.cityofchicago.org/docs/open311/tos/) terms of service with what Allison sent from this first draft:

_"This information is meant to aid clinical reasoning. No medical decision should be based solely on information provided by this program. By using this information, the user shall indemnify and hold harmless the developers of this program from

[2017-09-26 22:10] tomschenkjr commented on #1
Thanks. The Open311 docs provide a nice outline. We can update and modify (if needed) each section.

_
Tom Schenk Jr.
Chief Data Officer
Department of Innovation and Technology
City of Chicago
(312) 744-2770
tom.schenk@cityofchicago.org | @ChicagoCDO
data.cityofchicago.org | opengrid.io | digital.cityofchicago.org | chicago.github.io | dev.cityofchicago.org

________________________________
From:

[2017-09-27 16:17] RaedMan commented on #2
**Re: 2.  Clinical Point of Contact (draft)**
The clinical point of contact should be a physician licensed to practice medicine in all its branches as defined by the [Illinois Medical Practice Act of 1987](http://ilga.gov/legislation/ilcs/ilcs3.asp?ActID=1309&ChapAct=225%C2%A0ILCS%C2%A060/&ChapterID=24&ChapterName=PROFESSIONS+AND+OCCUPATIONS&ActName=Medical+Practice+Act+of+1987.).

The physician s

[2017-10-10 20:22] tomschenkjr opened #14 "Error conditions and expected results"
Our next milestone for the project is to incorporate more robust error messages when something unexpected happens during the API transaction. As of v0.4.0, we are only testing and expecting complete and correct records. While we've been discussing this, Alliance also mentioned this in #12 as part of feedback on the current API.

I'd like for us to discuss a handful of items before we start work on

[2017-10-10 20:23] tomschenkjr commented on #10
Going to assign this to @RaedMan since it should be mentioned on the sign-up for the service.

[2017-10-10 23:54] RaedMan commented on #1
Regarding Issue #10 Specify that predictions are for kids under 1, it may be better handled under Terms of Service, since under #2 Eligibility criteria & process for new institutions, hospitals sign off that they read it. The following is draft language and possibly @potash and @AOCjcarr can add some more detail for clarity:

Pediatricians are directed to test every Chicago child’s blood for lead

[2017-10-10 23:55] RaedMan commented on #10
See #1 for draft.

[2017-10-13 22:15] tomschenkjr commented on #14
Per the discussion on the phone today, we have proposed a number of items. First, we'll propose an error field that will provide a numeric field that describes the error code. After looking at a few APIs, I propose this is an array that contains both the code and the message. Under this approach, it may be possible to have more than one error (i.e., errors[0], errors[1], etc.) That is, the respons

[2017-10-16 02:10] AOCjcarr commented on #14
This approach sounds correct.
Would it be safe to say:
If no errors 0 and corresponding message will be returned.
If multiple errors, then the ‘Message’ and ‘code’ components will repeats as pairs
For 101/102/103.   Will the message just be generic as shown below, or possible to include which component or specific data the error relates to?     Generic is acceptable as there are few variables, how

[2017-10-16 15:25] tomschenkjr commented on #14
That is correct.

I think it could be fairly customized, but specificity will depend a bit. At the very least, we may be able to pass along the underlying error, which will probably provide some indication on which element/step is causing the error. If it's not clear to you, we should be able to determine the error. @potash - curious on your input on this as well.

[2017-10-16 21:42] tomschenkjr commented on #2
@RaedMan - for NPI and IPL, is there a minimum length for the identifier? Is it just numeric or are there letters, too?

I can add some validation to the form to make sure length requirements are being met.

[2017-10-16 21:46] tomschenkjr commented on #1
@RaedMan - please use [this link](https://github.com/Chicago/lead-safe-api-docs/blob/issue1/docs/tos.md) and edit the page to insert the terms of service language. I've added some example text for you to follow the formatting. Click on the pencil button to edit. Use the "Preview Changes" to see how it is rendering. Don't worry too much about formatting -- we can always clean that up.

When you're

[2017-10-17 02:18] tomschenkjr commented on #2
I've mocked-up an initial draft of the form based on @RaedMan initial draft. Attached is a screenshot (click for a larger image) of the code that is currently sitting on `issue2` branch. Let me know if there are any changes that are needed, if not, I think we can share this with others.

Before this can be finalized, will need the correct email address to use.

![localhost-8000-signup- laptop with

[2017-10-17 17:06] potash commented on #14
I agree with @tomschenkjr that we could make the `message` more specific than the code. For example I don't think we want a separate code for every possible missing data field-- but we can specify in the message which field (or fields) was (were) missing.

[2017-10-17 23:14] RaedMan commented on #2
@tomschenkjr Great work! As for your questions:

- NPI is a 10-digit numeric identifier
- IL License Number is a 9-digit numeric identifier that begins with 036-XXXXXX (the 036 indicates they have a Permanent Physician License so it would be good to have that pre-filled)
- Email - Awaiting approval for HealthyHomes@cityofchicago.org. Submitted ARF. It will be forwarded to me for the time-being.

[2017-10-18 16:38] RaedMan commented on #2
Update: email address HealthyHomes@cityofchicago.org is approved.

[2017-10-19 00:14] tomschenkjr commented on #2
I've updated the form and created a pull request #15 that documents the changes so far. Please take a look as I've uploaded the screenshots of the application and how an application will appear in email.

This is a pretty complete draft, but not entirely done with this issue. When we're ready to deploy, still need the following changes:
  - [ ] Need to update links to the terms of service and elig

[2017-10-19 00:20] tomschenkjr commented on #2
Also, I should note that HealthyHomes@cityofchicago.org will be sent all the email (in the To: line) while developers@cityofchicago.org (which DOIT can access) will be CC'd.

[2017-10-19 22:20] RaedMan commented on #2
@wesleycoates can the ARF be amended for HealthyHomes@cityofchicago.org to include developers@cityofchicago.org or @tomschenkjr is this something you all can do?

[2017-10-19 22:21] RaedMan commented on #2
Everything looks great - thanks @tomschenkjr

[2017-10-19 22:21] tomschenkjr commented on #2
No need for an ARF. DOIT already has access to that email (we use it, for example, as notifications for registering with the Open311 API). You’ll still control the process, we just get a heads-up so we’re also aware and can plan accordingly.

From: Raed Mansour [mailto:notifications@github.com]
Sent: Thursday, October 19, 2017 5:20 PM
To: Chicago/lead-safe-api-docs <lead-safe-api-docs@noreply.gith

[2017-10-19 23:19] RaedMan opened #16 "Clinical Content for EHRs"
Between Nita at Alliance and I, we need to provide the EHR Clinical Content (documents that are uploaded into EHRs) with the following:

- [x] PDF of a Lead FAQ handout in English and Spanish, to be given to patients. It also has the Healthy Homes program financial assistance contact number.
- [x] PDF of a choropleth map of Chicago community areas without Alliance locations, of eBLL over low child

[2017-10-19 23:24] RaedMan commented on #16
This document was approved back in February 2017, but awaiting confirmation that links and telephone numbers are working:  [FAQ English Spanish 02.22.2017.pdf](https://github.com/Chicago/lead-safe-api-docs/files/1400301/FAQ.English.Spanish.02.22.2017.pdf)

[2017-10-19 23:38] wesleycoates commented on #2
I bet Christine has acted on the ARF already -- meaning Unisys is already
creating healthyhomes@cityofchicago.org

Check with her tomorrow and see -- if not, she just needs to create another
through another ARF

On Thu, Oct 19, 2017 at 5:20 PM, Raed Mansour <notifications@github.com>
wrote:

[2017-10-20 00:20] RaedMan commented on #2
@wesleycoates Sorry, I didn't mean to imply we need to create developers@cityofchicago.org, just that when a message is sent to healthyhomes@cityofchicago.org, besides me, that it also gets sent to the developers email. I thought the ARF was needed.

[2017-10-20 06:00] tomschenkjr commented on #16
I've drafted this sections to download the FAQ. Also have copied the language so it can be viewed as a webpage (instead of HTML). Below are the screenshots:

#### English
![localhost-8000-faq-lead-faq-en- laptop with touch 1](https://user-images.githubusercontent.com/1639121/31806697-4f01ff0a-b52f-11e7-95b1-866c8498e70d.png)

#### Spanish
![localhost-8000-faq-lead-faq-es- laptop with touch](https:

[2017-10-25 02:05] tomschenkjr commented on #1
Great. I've incorporated the language and it's currently on the `dev` branch. As we finish other work, we'll incorporate everything else into the webpage.

The application page mentions the "eligibility criteria". Is that going to be in the Terms of Service or a separate page?

[2017-10-25 02:15] RaedMan commented on #1
Probably easier to navigate if all on one page with two separate major headings but with teh bookmarks remaining as is so they can navigate easily between the two. I have not written the eligibility, but I think the form says it all: Must be a hospital as defined, must have a clinician as defined, must have tech as defined, must have an EHR system that can be accessed, must have funding, etc.

For

[2017-10-25 02:16] tomschenkjr commented on #1
Yeah, it’s easy to navigate to a subheading. Once you’re ready with eligibility requirements, please add those and I can incorporate it.

From: Raed Mansour [mailto:notifications@github.com]
Sent: Tuesday, October 24, 2017 9:15 PM
To: Chicago/lead-safe-api-docs <lead-safe-api-docs@noreply.github.com>
Cc: Schenk, Tom <Tom.Schenk@cityofchicago.org>; Author <author@noreply.github.com>
Subject: Re: [C

[2017-10-25 02:18] tomschenkjr commented on #16
Just a reminder on this to get the choropleth map and I can finish this one

[2017-10-27 01:13] RaedMan commented on #16
I was aiming to update this map, but we can use this as a placeholder until then:
[Lead_Alliance.pdf](https://github.com/Chicago/lead-safe-api-docs/files/1420475/Lead_Alliance.pdf)

[2017-10-27 01:49] tomschenkjr commented on #4
Given our past conversation, for now we're not going to include the server name in the docs.

[2017-10-27 01:49] #4 closed, assigned to nobody

[2017-10-27 02:36] tomschenkjr commented on #16
I've reorganized the page a little bit to create a "Clinical Resources" section. It contains the map, FAQ, and anything else we want to share with clinicians. Below is a screenshot of how the map appears. Note the left menu that shows the links to see the reorganized section.

![localhost-8000-clinical-resources-elevated-bll-map- laptop with touch 1](https://user-images.githubusercontent.com/16391

[2017-10-27 02:40] RaedMan commented on #16
Looks great! I think the standard EHR term is Clinical Content, but I don't know how well-known that is. I'll loop back after confirming with Alliance.

[2017-10-27 02:41] tomschenkjr commented on #16
Ok, I've updated it to "Clinical Content".

[2017-10-27 03:37] tomschenkjr commented on #16
I've pushed the documentation over to `dev`. Am closing this for now and can reopen if we get revised maps.

[2017-10-27 03:37] #16 closed, assigned to RaedMan

[2017-10-27 03:42] tomschenkjr commented on #2
The main remaining item left for this issue is eligibility requirements. The current draft of the form points to eligibility requirements separately from terms of service. Are these the same or separate? If separate, what are the eligibility requirements?

[2017-11-03 19:51] geneorama commented on #14
@tomschenkjr where is the documentation for the error codes, and how do we finalize that? I think you have a branch started, but I wanted to check if that's the standard or if there's a wiki or something else.

Thanks

[2017-11-03 22:06] tomschenkjr commented on #14
Pull request #17

_
Tom Schenk Jr.
Chief Data Officer
Department of Innovation and Technology
City of Chicago
(312) 744-2770
tom.schenk@cityofchicago.org | @ChicagoCDO
data.cityofchicago.org | opengrid.io | digital.cityofchicago.org | chicago.github.io | dev.cityofchicago.org

________________________________
From: Gene Leynes <notifications@github.com>
Sent: Friday, November 3, 2017 2:51:51 PM
To

[2017-12-01 21:40] geneorama opened #18 "Change "error codes" to "status codes" in documentation"

[2017-12-01 22:09] geneorama commented on #18
We should probably change the other column names as well.

Here's a summary

Old | New
-- | --
Error Name | Status Class
Error Code |  Status Code
Error Explanation | Status Message

We discussed Status Code in the meeting, but my justification for "status class" comes from [RFC 2616](https://tools.ietf.org/html/rfc2616):

[2017-12-01 22:15] geneorama commented on #18
Actually @tomschenkjr ... Maybe it's better that we keep it as error codes since these are not official status returns in the HTTP header. My initial question on the name was predicated on thinking that I was testing the status codes.

[2017-12-01 22:33] tomschenkjr commented on #18
I think it's fine if we align them. Go ahead and submit a pull request against `dev`.

[2017-12-01 22:57] tomschenkjr commented on #14
@AOCjcarr today our team was discussing the error you encountered and error messages that we're planning to provide in [v0.5.0 of the API](https://github.com/Chicago/lead-safe-api-docs/blob/dev/docs/index.md#response-codes). We've begun to questioning of the specific wording that we're providing. Namely, whether we should orient the error messages to be clear to you and your team (techies) versus

[2017-12-05 16:06] #18 closed, assigned to nobody

[2017-12-05 16:52] geneorama commented on #14
@tomschenkjr previously I thought that these error codes, now called status codes, would be returned with the status codes in the header.

As I understand it now, these status codes will be returned as an element of the `json_to_alliance` item (i.e. the main response), and it will be present even when there is no error with a return value of 200 for success.

So, shouldn't we update the example re

[2017-12-05 17:47] tomschenkjr commented on #14
Yes, good catch, though I'm not sure if there is an error, whether the rest of the fields will be returned.

It also raises a question for us: should we return `errors` even if the response is `200 - OK`?

Likewise, if there is an error, which fields will be returned along with it? `version`, `timestamp`, `network_id`, `patient_id`?

@avishekrk - thoughts?

[2017-12-05 19:50] avishekrk commented on #14
My first thought is that we can return all the fields but we can put blank values in them with the exception of the error code when there is an error.

When we have no errors we can leave the error code field blank.

[2017-12-05 19:55] geneorama commented on #14
@avishekrk well, in the docs we have a code for "no errors", so seems we should include that if there are no errors.

Also, to be consistent with documentation, shouldn't we rename the field to "Response Codes" with "Status Class/Code/Message" as subfields?

Also, in the example we are returning the Code and Message, maybe we want the Class as well?

[2017-12-05 20:14] tomschenkjr commented on #14
For now, let's keep the thread focused on the most recent question.

Does Avishek solution makes sense? When there is not an error, does it make sense to not return the 200-OK (thus, changing the current plan)?

_
Tom Schenk Jr.
Chief Data Officer
Department of Innovation and Technology
City of Chicago
(312) 744-2770
tom.schenk@cityofchicago.org | @ChicagoCDO
data.cityofchicago.org | opengrid.io |

[2018-01-03 21:54] #1 closed, assigned to RaedMan

[2018-01-03 21:54] #12 closed, assigned to nobody

[2018-01-03 21:54] #14 closed, assigned to potash, geneorama, avishekrk

[2018-01-03 22:05] tomschenkjr commented on #2
@RaedMan - I've moved this particular issue to be finished in v0.6.0 of the API (the next release). We will need the eligibility requirements so we can list them on the webpage.

Would it be possible to get the eligibility requirements before January 19th?

[2018-01-03 22:07] tomschenkjr commented on #10
This was addressed and will be accepted in v0.5.0.

[2018-01-03 22:07] #10 closed, assigned to RaedMan

[2018-01-03 22:41] RaedMan commented on #2
@tomschenkjr Yes, and the eligibility requirement for the clinical side is an amalgam of the form above plus the piece about the draft Clinical Point of Contact paragraph from above. I can fuse it into written form (ie, must have a license, must be a hospital listed below, etc) and can definitely have it done this week.

A missing component is a Technical piece and what is needed to make it happen

[2018-01-05 19:07] tomschenkjr opened #21 "Discussion of risk scores"
To frame the discussion, there are a few different types of risk metrics we can use for the project. I think we have been considering either an [odds ratio](https://en.wikipedia.org/wiki/Odds_ratio) or [relative risk ratio](https://en.wikipedia.org/wiki/Relative_risk) or [one of the many permutations](https://en.wikipedia.org/wiki/Relative_risk#Worked_example).

The problem is the above ratios are

[2018-01-05 19:59] RaedMan commented on #2
**Eligibility Criteria**

In order to access the Lead Safe API, you must comply with the following criteria:

**1. Must be a Healthcare Facility or Program as [Defined by the Illinois Department of Public Health](http://www.dph.illinois.gov/topics-services/health-care-regulation/facilities) in the City of Chicago.**
See the list of qualified facilities in Chicago.

**2. Healthcare Facility Must Ha

[2018-01-05 21:28] tomschenkjr commented on #21
Below are some notes extracted from the phone conversation during the weekly meeting today.

There are three potential scores to communicate to medical staff:
  * Raw score
  * Probabilities
  * Relative risk
  * Quantiles

Raw scores provide no meaningful interpret ability, so that should not be used. Probabilities provide a human-understandable interpretation (e.g., 20%), but clinical staff--and

[2018-01-10 15:24] geneorama opened #22 "Broken link in index.md"
During the review of pull request #20 I noticed a broken link in the notes of the main page, but it falls outside of the changes of the pull request

The https is missing the h

[code]

should be
[code]

[2018-01-10 15:30] geneorama commented on #22
Moving to notes of pull request #20

[2018-01-10 15:30] #22 closed, assigned to nobody

[2018-01-10 16:33] RaedMan commented on #2
@tomschenkjr @geneorama @wesleycoates Regarding eligibility, this draft can go up after "3. Healthcare Facility Must Have a Technical Point of Contact" component is reviewed because I wasn't sure how in depth it should go. Also, if this goes up, should we add "DRAFT" somewhere until it goes through the process of approvals?

[2018-01-12 22:51] RaedMan commented on #21
@jtwalsh0 and I discussed quartiles and sketched it out briefly but think the threshold and the output communicated may work and will discuss at next meeting.

[2018-02-05 17:17] #2 closed, assigned to tomschenkjr

[2018-02-06 23:48] RaedMan opened #24 "Broken Links on Lead Safe Application Form"
Both Terms of Service, Eligibility Requirements, and Eligibility Criteria hyperlinks need to be updated at https://chicago.github.io/lead-safe-api-docs/apply/

[2018-02-07 03:31] #21 closed, assigned to potash, geneorama, tomschenkjr, avishekrk

[2018-02-09 16:31] tomschenkjr opened #25 "Include instructions on using API authentication"
Users will need to use an access token to access the API and submit any records. This will change the API interaction in significant, backward-incompatible ways. Will need to provide instructions on:

  * How precisely to obtain credentials
  * How to interact with the API using credentials

[2018-02-23 22:04] tomschenkjr opened #26 "Test the "apply" page"
We've switched the email address to Healthy Homes, but have not tested it yet. Before "going live", we should test to ensure applying on the page will result in the appropriate emails.

[2018-02-27 16:37] #24 closed, assigned to tomschenkjr

[2018-02-27 16:59] tomschenkjr commented on #26
@RaedMan - I've deployed the new documentation for v1.0.0-rc.1. Please test the [apply page](https://chicago.github.io/lead-safe-api-docs/apply/) to make sure you receive a copy of the application to the right email address.

[2018-02-27 17:06] tomschenkjr opened #28 "Define maintenance periods"
Due to our current deployment practices, the production API may need to be "offline" while we do maintenance or deploy new versions. There are several considerations we will need to determine:

  * Do we define a regular maintenance window so EHRs know and expect outages ahead of time? If so, when is that maintenance window that inflicts least harm to end-users but is sensible for city staff to ma

[2018-02-27 17:16] RaedMan commented on #26
@tomschenkjr Received this error after completing the form and submitting:
![image](https://user-images.githubusercontent.com/3673571/36743268-7ab26c48-1baf-11e8-97df-cf9b48ab70c5.png)

[2018-02-27 20:51] tomschenkjr commented on #26
Ok, thanks! I see the error and will have a fix for the next release.

[2018-02-27 23:31] tomschenkjr opened #29 "Describe limitations to POST upload"
Because of back-end processes, we are limited to the number of characters that can be submitted in the POST provided to us by the user.

We need to document this limitation in the API documentation.

[2018-02-27 23:37] #25 closed, assigned to nobody

[2018-02-27 23:45] tomschenkjr opened #30 "Iterate version number in body response"
The documentation still says the response body will have `version: 0.3.0`. This needs to be iterated to `v1.0.0` (or whatever is appropriate).

[2018-02-27 23:46] tomschenkjr opened #31 "Clarify contents of `risk_score_notes` and `risk_score`"
We need to clarify expectations for `risk_score` and `risk_score_notes` in the API documentation. The format descriptions are accurate, but we are still using the basic descriptions that were drafted awhile ago.

We should be more specific to describe the expected contents of `risk_score_notes` and that `risk_score` will be a risk ratio (see Chicago/lead-model#9).

[2018-03-08 01:03] tomschenkjr opened #32 "Setup automatic deployment to dev website"
The plan is to post the Lead Safe API docs to the city's [Developer website](http://dev.cityofchicago.org) under the "resources" menu.

To do this, we must "deploy" the documentation from GitHub to a sub-directory on an S3 bucket where `dev.cityofchicago.org` is hosted. The directory must be located within `dev.cityofchicago.org/docs/` directory.

We should use Travis CI to run the necessary `mkdo

[2018-03-13 21:46] #29 closed, assigned to tomschenkjr

[2018-03-13 21:46] #30 closed, assigned to tomschenkjr

[2018-03-13 21:46] #31 closed, assigned to tomschenkjr

[2018-03-13 21:54] tomschenkjr commented on #26
@RaedMan, I've deployed a fix that caused the issue. I sent a test-submission, but you will need to approve it first. Once you approve it, the submission itself will appear.

After that, please [send a test submission](https://chicago.github.io/lead-safe-api-docs/apply/) yourself to confirm it works.

If you haven't received an email confirmation, let me know.

[2018-03-13 22:02] tomschenkjr opened #34 "Remove "Test Submission:" from subject line"
The current "Apply" page precedes the subject line with "Test Submission:". This needs to be removed before going live.

[2018-03-13 22:05] tomschenkjr opened #35 "Add "Expected Delivery Date" to API"
In order to support the ability to provide a score for pregnant women, we need a field that can identify whether the record belongs to a pregnant patient. After discussing with @AOCjcarr + team, we determined the best method is to have an "Expected Delivery Date" field (a calendar date).

The idea is if the expected delivery date is in the future, then the patient is a pregnant women and the `date

[2018-03-13 22:05] RaedMan commented on #26
@tomschenkjr Received previous submission and tested again, and confirm email receipt of the completed form. Thanks!

[2018-03-13 22:08] tomschenkjr commented on #26
@RaedMan - great! The @Chicago/analytics-team  also receive a CC of any submission and also confirm that we received the submission.

We will be removing the "test submission" subject line (#34) once we move the website to it's final location (#32).

Closing this issue now.

[2018-03-13 22:08] #26 closed, assigned to RaedMan

[2018-03-13 22:10] tomschenkjr commented on #35
@geneorama - I will leave it to you to create associated issues in other repos for tasks to complete this project. Once we begin work, will ask that you publish the spec for the team to follow.

This task will be a good step to familiarize yourself with mkdocs.

[2018-03-16 22:00] tomschenkjr opened #36 "Add "expected due date" field for expecting mothers"
We will need to render some scores based on pregnant women when we are trying to assess the risk of a child in prenatal development. However, this causes an issue because the mother's records are sent to the API.

Talking with Alliance, we determined the best method to identify a pregnant woman is to submit the `expected_due_date` for the mother and check if the record is in the future. If we dete

[2018-03-19 16:13] tomschenkjr opened #37 "Document maximum character limitation in docs"
Our current limitation is 20,000 characters (including whitespaces).

[2018-03-21 18:37] geneorama opened #38 "Document values for risk_score_notes"
@tomschenkjr @RaedMan

I think we need to document the potential values for `risk_score_notes` so that the test suite and code matches the documentation. I looked in the [API docs](https://github.com/Chicago/lead-safe-api-docs/blob/master/docs/api.md), and didn't see the values.

If I'm missing the documentation, I apologize.

I think that in 1.0.0rc-2 we have two cases:
 - high: "1. Refer for a l

[2018-03-21 18:44] RaedMan commented on #38
@geneorama thank you for this. I have this question queued for an internal meeting but also, awaiting how the risk ratio will be stated for high. I have another question, if low, what do the healthcare providers see, if notes are blank? I assume it's the score, but does it state low? Thanks.

[2018-03-21 18:54] geneorama commented on #38
@RaedMan

Based on my understanding of our terms and conditions I think the providers are free to show the return values and notes however they want. So, what the provider sees is entirely a function of how the clinic / hospital uses the results from the API in their application.

[2018-03-22 16:08] geneorama commented on #35
@tomschenkjr Do you want me to start editing the API docs?  If so, do you want the work done in a branch for the milestone or for just this issue?

Also, I would like to do some cleanup on merged branches and delete `issue1`, `issue2`, `issue14`, and `issue16`, since they've all been merged and to make the 1.0.0-rc.3 work easier to follow.

[2018-03-22 16:55] tomschenkjr commented on #35
Per our discussion, feel free to do it for the issue. You can open a pull request against `dev`.

Go ahead and clean-up branches as well.

[2018-03-22 20:25] tomschenkjr commented on #38
I suspect the potential issue is not providing _any_ message may not be clear. Instead, should we provide a message which communicates that we estimate the risk level is normal, but otherwise do not provide any other recommendation?

[2018-03-23 14:53] geneorama commented on #36
Recapping my understanding of subsequent discussions:

Background: the API is exclusively for children under 1 year of age, including pregnant mothers. The birth date / delivery date is not used in producing the prediction, it is only used to determine if we provide a response (as of `1.0.0rc-3`).

If there is an expected due date, then we are dealing with a expected mother and we should provide a

[2018-03-23 14:58] tomschenkjr commented on #36
Correct. Also see lead-prediction-runner#76 for the workflow diagram. But yes, that aligns to the plan.

[2018-03-23 15:10] geneorama commented on #36
Great, I'm putting that into a new branch called rc3.

Forgot to add earlier, that we ignore labs if there's an expected date.

[2018-03-23 15:36] tomschenkjr commented on #38
While the above discussion was pertinent, I actually don't agree with the premise of the issue. I don't think we need to detail the messages that will be communicated through the API (as long as it conforms to the data types).

[2018-03-23 18:54] geneorama commented on #35
The actual name of the field that I have is `expected_due_date`, and I've added that to the api docs

[2018-03-23 20:05] tomschenkjr commented on #36
I created two tasks. This is a duplicate of #35, so closing this in favor of the other issue.

[2018-03-23 20:05] #36 closed, assigned to tomschenkjr, avishekrk

[2018-03-23 20:24] geneorama commented on #38
@tomschenkjr makes sense, ok to close?

[2018-03-23 20:25] #38 closed, assigned to nobody

[2018-03-23 20:29] geneorama commented on #13
This has been done for a while.

[2018-03-23 20:29] #13 closed, assigned to nobody

[2018-03-23 20:47] geneorama opened #39 "Interpreting Risk Levels Section - Edits for rc3"
Here's a link to the section in question: https://chicago.github.io/lead-safe-api-docs/api/#interpreting-risk-levels

I have a few questions
 - Do we need this section at all? Perhaps the focus of this documentation should be narrowly limited to "how to use the API".
 - If we keep this section, I personally think it belongs on the main page, not in the API section.
 - The language makes it sound l

[2018-03-23 22:19] tomschenkjr commented on #32
I've prepared the necessary work and is ready on the `dev` branch. I've [switched-on Travis CI for this project](https://travis-ci.org/Chicago/lead-safe-api-docs), but Travis CI will only kick-off when there is a `.travis.yml` file on the `master` branch.

The configuration will build mkDocs and copy the site to http://dev.cityofchicago.org/docs/lead-safe. It's fine if we copy files prior to the o

[2018-03-23 23:01] RaedMan commented on #39
Thanks @geneorama

Good catch - I agree with re-writing. I think it makes sense to stay here, because others may be exploring it for non-technical reasons, and may want to see the entire workflow. I think giving the options of what we designed in terms of recommendations could be provided for other health systems. Here's a draft, we can confirm internally in April:
- "When the API identifies a ris

[2018-03-29 21:31] geneorama commented on #32
Update for status meeting tomorrow; I don't have this done yet, but I'm planning to tackle this next week.

[2018-03-29 21:31] #34 closed, assigned to geneorama

[2018-03-29 21:34] geneorama commented on #37
I'm hoping to get more clarity on the performance issues from Sun and George in the coming days before we declare a hard limit.

Currently there are performance issues with larger files, e.g. files that are more than 10k characters in length.  Although this is a large file for what we're expecting, the technology should be able to handle this file size with no problem.

In fact, each component see

[2018-04-02 18:24] tomschenkjr commented on #37
@geneorama - Per our discussion today, please set the maximum to 20,000 characters in the documentation. In the future, if we determine that more are needed, we can increase it without breaking existing processes.

[2018-04-03 17:01] #37 closed, assigned to geneorama

[2018-04-03 17:02] geneorama commented on #37
Added note in the api docs.

[2018-04-03 17:06] geneorama commented on #39
Thanks @RaedMan that was easy enough (with your comments that is).

[2018-04-03 17:06] #39 closed, assigned to geneorama

[2018-04-03 21:33] #35 closed, assigned to geneorama

[2018-04-04 15:19] #32 closed, assigned to tomschenkjr

[2018-04-11 14:56] tomschenkjr opened #42 "Error with automatic deployment to AWS S3"
The `master` branch is configured to be automatically deployed to AWS S3 using Travis CI's deployment features. However, [we are encountering an error](https://travis-ci.org/Chicago/lead-safe-api-docs/builds/362226049) when the files are being copied to AWS S3:

[code]

Based on research, this seems to be a generic AWS-related message. There doesn't appear to be a direct fix, but a myriad of work-

[2018-04-11 23:42] tomschenkjr commented on #42
Finally solved this with 0d30309b9b0e777482a6b14f58bc53d665bd9086 where I simply created a fresh pair of keys (not reusing the same keys from Chicago/open311-api-docs).

[2018-04-11 23:42] #42 closed, assigned to nobody

[2018-05-10 04:25] tomschenkjr opened #43 "EDD returning 400 error if empty string"
We received this note from @AOCjcarr:

Per [v1.0.0-rc.3](https://github.com/Chicago/lead-safe-api-docs/blob/0d30309b9b0e777482a6b14f58bc53d665bd9086/docs/api.md#schema), `expected_due_date` is an optional field, so this is unexpected behavior.

@geneorama - do you see anything immediately at issue? Should the field be removed outright instead of an empty string, `""`?

[2018-05-10 04:27] tomschenkjr opened #44 "Response JSON file includes escape characters"
As part of testing, @AOCjcarr informs us:

[code]

@geneorama - can you replicate this? Do you see the same in the response documents?

[2018-05-10 04:29] tomschenkjr opened #45 "Response JSON includes extra quotes"
@AOCjcarr mentioned he is seeing the following:

[code]

@geneorama - can you replicate this?

[2018-05-10 14:20] geneorama commented on #43
Yes, `expected_due_date` is an optional field, and the API works if the field is omitted.  However, if the field is present it needs to be a valid date, otherwise the date cannot be parsed and an error is generated.  So providing things like this: `""` `"NA"`  `NA` `NULL` `"NULL"` will produce an error because the field is present, but it's not a valid date.

Is this something we should change or

[2018-05-10 14:38] geneorama commented on #44
I'm not sure when the escapes appear. I don't see them when I call the python code directly. I do see them in R when I get the response. I'll keep working on it and work with George.

[2018-05-10 15:18] geneorama commented on #45
@tomschenkjr I think you missed the quotes that @AOCjcarr was talking about?

When I run the Curl command directly I get (for example) `{"items":[{"result":"{\"risk_score_notes\": \"1. Please follow protocol for lead safety.\", \"errors\": [], \"network_id\": \"Alliance Health\", \"timestamp\": \"2018-05-10 14:47:56\", \"clinic_id\": \"EF\", \"patient_id\": \"6425\", \"risk_score\": \"0.1903583333

[2018-05-10 16:17] tomschenkjr opened #46 "Clicking "Download" for BLL Map leads to 404"
Clicking "Download" in the [BLL Map](http://dev.cityofchicago.org/docs/lead-safe/elevated-bll-map/) leads to a [broken webpage](http://dev.cityofchicago.org/assets/files/BLL-map.pdf?).

[2018-05-14 14:35] geneorama commented on #43
I'm closing this for now.  The API is working as we expected, and @AOCjcarr is working on logic on their side to handle conditionally passing this field to the API.

We could re-open as a feature request if there is in fact a feature request.

[2018-05-14 14:35] #43 closed, assigned to geneorama

[2018-05-17 14:27] geneorama commented on #44
I'm pretty sure this is a single issue related to the quoting mentioned in #45.

I'm closing this for now, but we can reopen if it turns out to be a separate issue.

[2018-05-17 14:35] tomschenkjr commented on #44
Let's keep this open so Sun can remove the backslashes.

[2018-05-18 20:26] geneorama commented on #45
The problem is that we need to put the result into a table of separate fields, not as a single precomposed JSON string.

So if you have the table, the JSON is returned properly.  Within Sun's code, the statement is more like "select * where id=<id>", rather than "select result where id=<id>".

Here is an example of a good result with dummy data:
![image](https://user-images.githubusercontent.com/1

[2018-05-21 21:46] geneorama commented on #45
Great news, Sun seems to have a working solution in dev, which we can probably get into production tomorrow.

The return for the new version looks like this:
[code]

So, the JSON is no longer enclosed in "items" and "result".  Looking at the [documentation](http://dev.cityofchicago.org/docs/lead-safe/api/#response), I think this is actually what we specified in the first place. @AOCjcarr do you th

[2018-05-21 22:54] tomschenkjr opened #47 "Truncate response prefix"
While troubleshooting #44 and #45, we have determined the best "fix" is to modify the response by dropping some unnecessary elements of the response. Namely, we will drop the `items:[{"result":` prefix and _only_ return the fields within that `result:` element.

Thus, the new response will appear similar to this example:

[code]

This is consistent with the [published documentation](http://dev.cit

[2018-05-22 15:25] tomschenkjr commented on #47
Please remember to increment the `version` field to 1.0.0-rc.4 as this change is made.

[2018-05-22 15:26] geneorama commented on #47
I opened an issue to this effect in the runner.

[2018-05-22 21:07] geneorama opened #48 "Change link from lead-free to lead-safe"
The icon at the top of the page points to lead-free, not lead-safe
http://dev.cityofchicago.org/docs/lead-safe/

content is here: https://github.com/Chicago/lead-safe-api-docs/blob/1d18fc5fdc307a224d48e9a674e0b4d428e73f5f/mkdocs.yml

[2018-05-22 21:10] #48 closed, assigned to nobody

[2018-05-29 19:56] AOCjcarr commented on #44
Correct, this was resolved with the quoting fix

Thanks,
Jeremy Carr

From: Gene Leynes <notifications@github.com>
Sent: Thursday, May 17, 2018 9:27 AM
To: Chicago/lead-safe-api-docs <lead-safe-api-docs@noreply.github.com>
Cc: Jeremy Carr <jcarr@alliancechicago.org>; Mention <mention@noreply.github.com>
Subject: Re: [Chicago/lead-safe-api-docs] Response JSON file includes escape characters (#44)

[2018-05-29 20:31] geneorama commented on #45
Jeremy has replied to say that the issue is resolved through the changes Sun made.

[2018-05-29 20:31] #45 closed, assigned to geneorama

[2018-05-29 20:35] geneorama commented on #44
Thanks Jeremy for confirming! Closing now.

[2018-05-29 20:35] #44 closed, assigned to geneorama

[2018-09-07 15:50] geneorama opened #50 "Description of high / low scores for EHR "info" buttons"
Develop language for Alliance and others that describes what a "high" or "low" scores mean.

I think we need to answer:
 - Where does the belong in the documentation
 - For new members is the description a requirement / suggestion / FYI
 - Should we provide a mechanism (perhaps an email alert?) for changes to the description
 - Who is responsible for drafting the initial language, and who maintain

[2018-09-10 17:15] RaedMan commented on #50
- Where does the belong in the documentation:
Perhaps with our API returns for High, Low, Null because they explain what they mean.

- For new members is the description a requirement / suggestion / FYI:
That is up to the EHR system and hospital to make that decision since it is a feature that is entirely under their control.

- Should we provide a mechanism (perhaps an email alert?) for changes t

[2018-09-10 19:20] geneorama commented on #50
This sounds to me like an FYI to health centers about how they might want to describe the resulting message in the EHR.

@RaedMan yes, I think it would be a good idea to document the edits here. I can open a branch and insert the language once it's finalized by you, Avishek, and Alliance.

[2018-09-10 19:31] geneorama opened #51 "Constraints for past BLL levels"
Currently we have no constraints around the BLL submissions.

If we're going to reliably determine if the patient already has a high BLL (a feature request for v1.0.0-rc.5) then we will need to impose constraints on this field and add those to the input checker part of the runner. Otherwise we risk telling doctors that the patient does / doesn't have a high BLL when in fact they don't / do have a

[2018-09-10 19:40] geneorama commented on #51
@RaedMan The two main ways that I can do doing this are:

1. Require the submission to be numeric
2. Define a series of regular expressions that are considered acceptable to convert text to numbers

For the second option some examples are things like "when a '-' is present, interpret this as a range and take the maximum of the range as the input", or "when a '<' appears assume this means 'less tha

[2018-09-27 15:39] RaedMan commented on #50
Removing _3. Patient already has high BLL ≥ 5mcg/dL in previous labs. Model was not run and no risk score was generated. Recommend review past notes._

There is no mechanism developed to execute this now, but perhaps in a future version, it can be added into the workflow.

[2018-09-27 16:31] RaedMan commented on #50
@avishekrk @AOCjcarr @geneorama

The responses were edited from the drafts on issue #38 that was closed in March because the LOW RISK statement was not clear. Reference Chicago/lead-model/issues/9 for finalized response approved on 8/21 provided here for ease:

risk_score (numeric value)
risk_score_notes **HIGH RISK: Refer for lead paint visual home inspection to Chicago Department of Public Healt

[2018-10-01 19:44] geneorama commented on #50
Closing because we are not putting info button descriptions into the project, mainly because we can't control it.

[2018-10-01 19:44] #50 closed, assigned to nobody

[2018-10-01 19:47] geneorama commented on #51
We have decided not to do this now because of the data issues referenced, see the issue in gitlab for more information.

[2018-10-01 19:47] #51 closed, assigned to nobody

[2018-10-01 19:59] geneorama opened #52 "Update documentation with return values from API"
@geneorama and @RaedMan to document messages from API, for successful responses. (High and Low)

from @RaedMan's comments on issue #51

risk_score_notes HIGH RISK: Refer for lead paint visual home inspection to Chicago Department of Public Health at 312-747-LEAD(5323)